body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
}

nav {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
}

li {
    list-style-type: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-container {
    padding: 20px;
    width: 100%;
}

.hero-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
}